<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="baseUrl" value="http://localhost/CourseManagementSystem/" />
    <Parameter name="browser" value="chrome" />
    <Parameter name="connectionString" value="Integrated Security=True;Initial Catalog=CourseManagementSystem.Models.SchoolContext;Data Source=KOLADETIAMI19E6\SQLEXPRESS" />    
  </TestRunParameters>
</RunSettings>  
